/*主体*/
body {
  width: 75vw;/*主体大小*/
  margin: 0 auto;/*位置*/
  background-color: white;/*背景颜色*/
  padding: 1vw 2vw 2vw 2vw;/*文字边缘*/
  border: 0.4vw solid #d5d5d5;/*边框线条*/
  border-radius: 1.5vw;/*边框圆角*/
  border-bottom-right-radius: 6vw;/*边框右下方圆角*/
  font-family: 'Open Sans', sans-serif;/*字体*/
  font-size: 2vw;/*文字大小*/
}

/*段落*/
p {
  font-size: 1.5vw;
  line-height: 1.5;
  color: #333333;
}

/*标题*/
h1 {
  line-height: 2vw;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
}

/*图片*/
img {
  display: block;
  max-width: 100%;
  margin: 3% auto;
}

/*默认按钮*/
button {
  transition-duration: 0.1s;/*动效时间*/
  cursor: pointer;/*鼠标响应*/
  background-color: white;
  color: #333333;
  width: 12vw;
  padding: 1.2vw 1vw;
  text-align: center;
  font-size: 1.5vw;
  white-space: nowrap;
  display: inline-block;
  border: 0.2vw solid #d5d5d5;
  border-radius: 0.5vw;
  border-bottom-right-radius: 1.5vw;
}

/*长条按钮*/
button.long {
  width: 15vw;
  padding: 1.5vw 1vw;
}

/*鼠标悬浮的按钮*/
button:hover {background-color: #d5d5d5; color: #333333;}
